<!--
<pre>
  {{data | json}}
</pre>
<br/>
-->

<div class="main-container">

  <div class="header">
      <input #searchQuery type="text"  class="search-input" placeholder="Search collection" spellcheck="false" (input)="onSearchUpdated(searchQuery.value)" />
  </div>

  <cdk-virtual-scroll-viewport id="scroll-viewport" class="sc"  itemSize="25"   minBufferPx="2000" maxBufferPx="4000">
    <div *cdkVirtualFor="let item of filteredIitems()" class="example-item list-item">
       <!-- {{item.Label}} -->
        <span class="toolbar-container">
            <div class="tools">
                <span id="open-folder" title="Open location">
                    <img class="folder-default" ngSrc="/assets/folder-mono.svg" height="20" width="20"/>
                    <img class="folder-hover" ngSrc="./assets/folder.svg" height="20" width="20"/>
                </span>
            </div>
        </span>
        {{item.Label}}
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<!--

@for (i of data; track i) {
  <div class="example-item"> {{i.path}}</div>
}
-->




